.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.25rem;
    justify-items: center;
}

.pin{
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    border:1px solid var(--dark-gray);
    background: var(--light-gray);
    color: var(--black);
    transition: all 0.3s ease;
}

.fallen{
    background: #ffd54a; /* warm bulb color */
    box-shadow:
        0 0 10px #ffd54a,
        0 0 20px #ffd54a,
        0 0 40px #ffeb99;
}