.container{
    width: 100%;
    border: 1px solid var(--light-aqua);
    margin-bottom: 1rem;
}

.table {
    width: 100%;
    text-align: center;
}

.thead{
    background-color: var(--dark-aqua);
    color: var(--black);
}

.tr td{
    background-color: var(--light-gray);
    color: var(--black);
}
