.container{
    width: 100vw;
    height: 100vh;
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}


.videoContainer{
    position: relative;    
    height: 55vh;
    aspect-ratio: 16 / 9;
}

.imageLayer{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.videoContainer .img{
    height:100%;
    width: 100%;
    object-fit: fill;  
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    flex: 1;
}

.calibration{
    display: flex;
    flex-direction: row;
    height: 98%;
    width: 70%;
    justify-content: center;
    align-items: center;
}

.streamConnectContainer{
    display: flex;
    flex-direction: column;
    height: 98%;
    width: 30%;
    border: 1px solid var(--dark-gray);
    border-radius: 0.5rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.placeholder{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
}