.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.exportContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--dark);
    height: 3rem;
    border: 1px solid var(--dark-gray);
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.teamsContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
