.container{
    display: flex;
    flex-direction: column;
    background-color: var(--dark-gray);    
    border: 1px solid var(--light-aqua);
    border-radius: 1rem;
    padding: var(--medium-padding);
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}   

.header select{
    width: 80%;
    height: auto;
}

.header h4{
    margin: var(--medium-margin);
}

.tableContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tableContainer h4{
    align-self: center;
}

.table{
    width: 100%;
}

.hint{
    color: var(--black);
    opacity: 0.5;

}

.center{
    text-align: center;
}

.input{
    width: 10%;
    height: auto;
    padding: var(--medium-padding);
    margin: var(--no-margin);
    min-height: 2rem;     
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border-radius: 3px;
    outline: none;
    border: none;
    box-sizing: border-box;
    appearance: none;
    color: var(--black);
    font-size: var(--medium-font-size);
    background-color: var(--light-gray);
}